## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

2023-06-30 18:21:44.504273: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
application_df.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [3]:
application_df['NAME'].value_counts()

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [6]:
application_df[application_df['NAME']=='PARENT BOOSTER USA INC']['IS_SUCCESSFUL'].value_counts()

0    1052
1     208
Name: IS_SUCCESSFUL, dtype: int64

In [7]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
app_df = application_df.drop(columns=['EIN'])
app_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [5]:
# Determine the number of unique values in each column.
app_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [9]:
name_count = app_df.groupby(['NAME'])['NAME'].count()

In [10]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = [name_count[name_count<150].index]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                 27297
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
Name: NAME, dtype: int64

In [11]:
# Look at APPLICATION_TYPE value counts for binning
app_df.groupby(['APPLICATION_TYPE'])['APPLICATION_TYPE'].count()

APPLICATION_TYPE
T10      528
T12       27
T13       66
T14        3
T15        2
T17        1
T19     1065
T2        16
T25        3
T29        2
T3     27037
T4      1542
T5      1173
T6      1216
T7       725
T8       737
T9       156
Name: APPLICATION_TYPE, dtype: int64

In [12]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T12', 'T13', 'T14', 'T15', 'T17', 'T2', 'T25', 'T29', 'T9']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [13]:
# Look at CLASSIFICATION value counts for binning
class_counts = app_df.groupby(['CLASSIFICATION'])['CLASSIFICATION'].count()

In [14]:
# You may find it helpful to look at CLASSIFICATION value counts >1
app_df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [15]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
app_df['CLASSIFICATION'].value_counts().loc[lambda x : x<1000]
classifications_to_replace = app_df['CLASSIFICATION'].value_counts().loc[lambda x : x<1000].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [16]:
# Convert categorical data to numeric with `pd.get_dummies`
app_df = pd.get_dummies(app_df)
app_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [17]:
# Split our preprocessed data into our features and target arrays
y = app_df['IS_SUCCESSFUL']
X = app_df.drop(["IS_SUCCESSFUL"], axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [18]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [19]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 157480

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 157,531
Trainable params: 157,531
Non-trainable params: 0
_________________________________________________________________

In [20]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [21]:
import os 
from tensorflow.keras.callbacks import ModelCheckpoint

os.makedirs('checkpoints2/', exist_ok=True)
path = 'checkpoints2/{epoch:02d}.hdf5'

callback = ModelCheckpoint(filepath = path, save_weights_only = True, save_freq = 5)

In [22]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100, callbacks = [callback])

Epoch 1/100
804/804 [==============================] - 15s 16ms/step - loss: 0.5616 - accuracy: 0.7268
Epoch 2/100
804/804 [==============================] - 9s 11ms/step - loss: 0.4362 - accuracy: 0.7860
Epoch 3/100
804/804 [==============================] - 8s 10ms/step - loss: 0.2694 - accuracy: 0.8751
Epoch 4/100
804/804 [==============================] - 8s 10ms/step - loss: 0.1688 - accuracy: 0.9337
Epoch 5/100
804/804 [==============================] - 8s 10ms/step - loss: 0.1343 - accuracy: 0.9490
Epoch 6/100
804/804 [==============================] - 9s 11ms/step - loss: 0.1160 - accuracy: 0.9549
Epoch 7/100
804/804 [==============================] - 13s 17ms/step - loss: 0.1074 - accuracy: 0.9581
Epoch 8/100
804/804 [==============================] - 14s 17ms/step - loss: 0.1036 - accuracy: 0.9587
Epoch 9/100
804/804 [==============================] - 10s 12ms/step - loss: 0.1008 - accuracy: 0.9595
Epoch 10/100
804/804 [==============================] - 11s 14ms/step - loss: 0.0989 - accuracy: 0.9598
Epoch 11/100
804/804 [==============================] - 9s 11ms/step - loss: 0.0984 - accuracy: 0.9598
Epoch 12/100
804/804 [==============================] - 11s 14ms/step - loss: 0.0977 - accuracy: 0.9594
Epoch 13/100
804/804 [==============================] - 10s 13ms/step - loss: 0.0975 - accuracy: 0.9602
Epoch 14/100
804/804 [==============================] - 9s 11ms/step - loss: 0.0963 - accuracy: 0.9600
Epoch 15/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0959 - accuracy: 0.9606
Epoch 16/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0957 - accuracy: 0.9606
Epoch 17/100
804/804 [==============================] - 10s 12ms/step - loss: 0.0954 - accuracy: 0.9607
Epoch 18/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0951 - accuracy: 0.9610
Epoch 19/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0948 - accuracy: 0.9609
Epoch 20/100
804/804 [==============================] - 9s 12ms/step - loss: 0.0945 - accuracy: 0.9609
Epoch 21/100
804/804 [==============================] - 11s 14ms/step - loss: 0.0943 - accuracy: 0.9613
Epoch 22/100
804/804 [==============================] - 12s 14ms/step - loss: 0.0936 - accuracy: 0.9614
Epoch 23/100
804/804 [==============================] - 11s 13ms/step - loss: 0.0933 - accuracy: 0.9614
Epoch 24/100
804/804 [==============================] - 9s 12ms/step - loss: 0.0934 - accuracy: 0.9609
Epoch 25/100
804/804 [==============================] - 11s 13ms/step - loss: 0.0935 - accuracy: 0.9614
Epoch 26/100
804/804 [==============================] - 11s 14ms/step - loss: 0.0932 - accuracy: 0.9612
Epoch 27/100
804/804 [==============================] - 10s 12ms/step - loss: 0.0929 - accuracy: 0.9617
Epoch 28/100
804/804 [==============================] - 11s 14ms/step - loss: 0.0919 - accuracy: 0.9613
Epoch 29/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0917 - accuracy: 0.9618
Epoch 30/100
804/804 [==============================] - 9s 11ms/step - loss: 0.0919 - accuracy: 0.9614
Epoch 31/100
804/804 [==============================] - 12s 15ms/step - loss: 0.0915 - accuracy: 0.9619
Epoch 32/100
804/804 [==============================] - 10s 12ms/step - loss: 0.0915 - accuracy: 0.9620
Epoch 33/100
804/804 [==============================] - 10s 13ms/step - loss: 0.0915 - accuracy: 0.9617
Epoch 34/100
804/804 [==============================] - 12s 15ms/step - loss: 0.0912 - accuracy: 0.9619
Epoch 35/100
804/804 [==============================] - 10s 13ms/step - loss: 0.0913 - accuracy: 0.9619
Epoch 36/100
804/804 [==============================] - 11s 13ms/step - loss: 0.0910 - accuracy: 0.9619
Epoch 37/100
804/804 [==============================] - 10s 12ms/step - loss: 0.0911 - accuracy: 0.9626
Epoch 38/100
804/804 [==============================] - 10s 13ms/step - loss: 0.0908 - accuracy: 0.9624
Epoch 39/100
804/804 [==============================] - 10s 13ms/step - loss: 0.0908 - accuracy: 0.9623
Epoch 40/100
804/804 [==============================] - 9s 11ms/step - loss: 0.0907 - accuracy: 0.9625
Epoch 41/100
804/804 [==============================] - 9s 12ms/step - loss: 0.0907 - accuracy: 0.9623
Epoch 42/100
804/804 [==============================] - 12s 14ms/step - loss: 0.0910 - accuracy: 0.9624
Epoch 43/100
804/804 [==============================] - 10s 13ms/step - loss: 0.0905 - accuracy: 0.9627
Epoch 44/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0901 - accuracy: 0.9625
Epoch 45/100
804/804 [==============================] - 9s 11ms/step - loss: 0.0900 - accuracy: 0.9627
Epoch 46/100
804/804 [==============================] - 13s 16ms/step - loss: 0.0900 - accuracy: 0.9627
Epoch 47/100
804/804 [==============================] - 12s 15ms/step - loss: 0.0899 - accuracy: 0.9626
Epoch 48/100
804/804 [==============================] - 10s 13ms/step - loss: 0.0894 - accuracy: 0.9634
Epoch 49/100
804/804 [==============================] - 12s 15ms/step - loss: 0.0894 - accuracy: 0.9630
Epoch 50/100
804/804 [==============================] - 11s 13ms/step - loss: 0.0894 - accuracy: 0.9626
Epoch 51/100
804/804 [==============================] - 12s 15ms/step - loss: 0.0893 - accuracy: 0.9632
Epoch 52/100
804/804 [==============================] - 10s 12ms/step - loss: 0.0890 - accuracy: 0.9630
Epoch 53/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0891 - accuracy: 0.9631
Epoch 54/100
804/804 [==============================] - 10s 12ms/step - loss: 0.0890 - accuracy: 0.9627
Epoch 55/100
804/804 [==============================] - 11s 13ms/step - loss: 0.0889 - accuracy: 0.9628
Epoch 56/100
804/804 [==============================] - 11s 13ms/step - loss: 0.0886 - accuracy: 0.9634
Epoch 57/100
804/804 [==============================] - 10s 13ms/step - loss: 0.0886 - accuracy: 0.9630
Epoch 58/100
804/804 [==============================] - 9s 12ms/step - loss: 0.0888 - accuracy: 0.9628
Epoch 59/100
804/804 [==============================] - 9s 12ms/step - loss: 0.0882 - accuracy: 0.9638
Epoch 60/100
804/804 [==============================] - 10s 12ms/step - loss: 0.0885 - accuracy: 0.9629
Epoch 61/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0883 - accuracy: 0.9630
Epoch 62/100
804/804 [==============================] - 10s 12ms/step - loss: 0.0883 - accuracy: 0.9633
Epoch 63/100
804/804 [==============================] - 12s 15ms/step - loss: 0.0879 - accuracy: 0.9633
Epoch 64/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0881 - accuracy: 0.9635
Epoch 65/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0880 - accuracy: 0.9640
Epoch 66/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0881 - accuracy: 0.9628
Epoch 67/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0881 - accuracy: 0.9632
Epoch 68/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0877 - accuracy: 0.9636
Epoch 69/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0872 - accuracy: 0.9639
Epoch 70/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0875 - accuracy: 0.9632
Epoch 71/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0874 - accuracy: 0.9640
Epoch 72/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0875 - accuracy: 0.9640
Epoch 73/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0874 - accuracy: 0.9642
Epoch 74/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0870 - accuracy: 0.9638
Epoch 75/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0874 - accuracy: 0.9639
Epoch 76/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0874 - accuracy: 0.9639
Epoch 77/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0870 - accuracy: 0.9637
Epoch 78/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0869 - accuracy: 0.9644
Epoch 79/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0866 - accuracy: 0.9640
Epoch 80/100

804/804 [==============================] - 7s 9ms/step - loss: 0.0861 - accuracy: 0.9640
Epoch 81/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0865 - accuracy: 0.9642
Epoch 82/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0864 - accuracy: 0.9642
Epoch 83/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0864 - accuracy: 0.9643
Epoch 84/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0863 - accuracy: 0.9642
Epoch 85/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0860 - accuracy: 0.9647
Epoch 86/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0860 - accuracy: 0.9644
Epoch 87/100
804/804 [==============================] - 9s 11ms/step - loss: 0.0860 - accuracy: 0.9643
Epoch 88/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0859 - accuracy: 0.9646
Epoch 89/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0857 - accuracy: 0.9647
Epoch 90/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0855 - accuracy: 0.9647
Epoch 91/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0856 - accuracy: 0.9645
Epoch 92/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0854 - accuracy: 0.9654
Epoch 93/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0855 - accuracy: 0.9647
Epoch 94/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0857 - accuracy: 0.9645
Epoch 95/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0852 - accuracy: 0.9653
Epoch 96/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0851 - accuracy: 0.9647
Epoch 97/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0850 - accuracy: 0.9645
Epoch 98/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0850 - accuracy: 0.9652
Epoch 99/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0848 - accuracy: 0.9652
Epoch 100/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0848 - accuracy: 0.9649

In [25]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6824 - accuracy: 0.5901 - 1s/epoch - 5ms/step
Loss: 0.6823816895484924, Accuracy: 0.5900874733924866

In [26]:
# Export our model to HDF5 file
nn.save('alphabet_soup_trial2.hdf5')